// nextflow.config

params {
    datasets    = "${baseDir}/data/processed/*.csv" 
    splitters   = "${baseDir}/components/splitters/*.py"
    featurizers = "${baseDir}/components/featurizers/*.py"
    models      = "${baseDir}/components/models/*.py"
    evaluators  = "${baseDir}/components/evaluators/metrics.py"

    smiles_col   = "standardized_smiles"
    activity_col = "antimicrobial_activity"
    random_state = 333

    outdir = "${baseDir}/results"
}

env {
    PYTHONPATH = "${baseDir}"
}

process {
    maxForks = 4
}