// nextflow.config

params {
    datasets = "${baseDir}/data/processed/*.csv"
    splitters = "${baseDir}/components/splitters/*.py"
    featurizers = "${baseDir}/components/featurizers/*.py"
    models = "${baseDir}/components/models/*.py"
    evaluators = "${baseDir}/components/evaluators/metrics.py"

    smiles_col = "standardized_smiles"
    activity_col = "antimicrobial_activity"
    random_state = [333, 444, 666]

    outdir = "${baseDir}/results"
}

env {
    PYTHONPATH = "${baseDir}"
}



profiles {
    standard {
        process {
            maxForks = 4
            executor = "local"
             withName: RUN_TRAINER {
                cpus = 3
            }
        }
    }
    slurm {
        conda.enabled = true
        conda.cacheDir = "${baseDir}/.conda"
        process {
            conda = "${baseDir}/env.yml"
            executor = "slurm"
            queue = "SP2"
            memory = "64 GB"
            withName: RUN_SPLITTER {
                cpus = 2
            }
            withName: RUN_FEATURIZER {
                cpus = 6
            }
            withName: RUN_TRAINER {
                cpus = 20
            }
            withName: RUN_EVALUATOR {
                cpus = 4
            }
        }
        executor.queueSize = 10
    }
}
